{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifier un cours</h1>
    {{ form_start(form) }}
    {{ form_row(form.name, {'label' : 'Matière', 'attr' : {'placeholder': 'Entrez la matière...'}}) }}
    {{ form_row(form.classroomGroup, {'label' : 'Groupe', 'attr' : {'placeholder': 'Choisissez le groupe d\'élèves...'}}) }}
    {% if role == ['ROLE_SUPER_ADMIN'] %}
    {{ form_row(form.teacher, {'label' : 'Professeur', 'attr' : {'placeholder': 'Choisissez le professeur...'}}) }}
    {% endif %}
    {{ form_row(form.start_at, {'label' : 'Début du cours'}) }}
    {{ form_row(form.end_at, {'label' : 'Fin du cours'}) }}
    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_end(form) }}
{% endblock %}