<h1>{{ user.name }} {{ user.firstname }} (groupe {{ user.studentgroup }})</h1>
<div class="container mx-auto">
    {% for classroom in student_classrooms%}
        <div class="col">
            <div class="card">
                <h5 class="card-header" style="text-align: center">{{ classroom.name }}</h5>
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title" style="text-align: center">{{ classroom.teacher.name }} {{ classroom.teacher.firstname }}</h5>
                    <p class="card-text" style="text-align: center">Le {{ classroom.startat | date('d/m/Y') }} de {{ classroom.startat | date('h:i') }} à {{ classroom.endat | date('h:i') }}</p>
                    <a href="#" class="btn btn-primary">Valider sa présence</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>